language: node_js
node_js:
- '12.22.11'
env:
  global:
  - MATTERMOST_CHANNEL=publication
  # REGISTRY_TOKEN(editor=cozy, app=trainline)
  - secure: Zrws2LKlidB15JxoceFit9C8XhCDarUlfY6SniSFrafMZKTPinTLlAuQ8vaPSBVvxMJNSYhiTSEq3XMq9PBasvq1WT1xZp5B0AAoq5ulUVcW2PIbGjzeE3Xo2sneLmPQDrcsvdY90BjWalgcG0UkIcFvdcMZFjgzhbqcVxxGTuN7IXia3PbRo50u+uVtMWcXH7HAR2YHyLqxkKS4+jpTJlGj0wDvQv5KC0UqxZnnR6hEG4vuZi2h4Pg2CFm6Svc028NqicYYr7KaVcSkbLeVXEm7be6q+DuF1nWiZiSGInlXoya0Lz3fj+OGG8vJVAne/2fkGEP+UAr+SEUbBiu3/gZ/JJXMUa10gVLznQ+Q6e34tA1Zy2AvLxcT/I2VhX2+G2jb/rXlotASrzh36XhWPKKCoUPk/p4aB2dnRGreoGz0+aR2AnifP5yQlpXwqZbuOEXEm2B3GuZIFOcu/USmu3PlNYe+VS9hoDM++XEz6jzqR7ylgAhEO12WEKBEj9GUA82xGghWkqs7w9LDtvh7lEkTWD4417iADqNX5EDuXhWXJO7w9aq4DjJ7tKR2nfetPUVy3ZnFebqCi8h+TUuUZQHfrDoLZyk71RYFBKUz01aGImIVmO502n7L67or7kNi3WRqZobs/mtGQrALY0gRMN5rFccTACI3ibve2fl0ROE=
  # MATTERMOST_HOOK_URL
  - secure: Zype+JBwDwgMITnKnV3xbg9XISsner9diHQjktaEHK/B7UDQLmyxGjYobGX865gyhm9cdMTavcz+piQcu35p4eWN1UrM0Xe8bDBlSor9wZF3XM+q1QHfKjlBOSP3bKDTUqTW8ApWUTmCc8aElTeFaOkysLVI+huycrQs5elRn87BjXeLj/dLiUSssKPFUPgwoWuv+gIOe1PWbtmfBglDxCq+iqYyDVWq1ecuW7/zc1G2VGQ+zboHuaSAhPfQqjs620/YYg22hcRL4a1ipvmfYwGxDpuT9jAPVZo5/Nceg2Qa4lhke3HGQPJUsZFfdFA+fjNrIquJC8lIaVP+TcrftvC9Uy2729H1PON+TgV+mUB3BRoZfp0XvAxgJMHEurz/9sFgMi9dxy1wEib9JDMqjMWtL4YYbk8yzeZfBPkwIjatrM1gNN+zBrc04Lywmb9MCo/7g17qu02iYGpUnyBWJHrJMWpbvFu3P+UfrvFEBI4dR+rv4OsSJUeSXLCcSt0L9+hQM9BYvrMVKKx48chq3Srca9C9uKpEWsDTDTi7U5OKeCiS/nu9yKWTSKYWu5MGBuZZRPaXKuEdV3BxXJhz7NYUS1SvH7OS9g8w25B8aOesRVHz44rfHSQ8PDiepIPCG15I8EzxQ48xpwZ+3v5BlCd/zMBTqMZ0vqjkd8wGZDg=
cache:
  yarn: true
  directories:
  - node_modules
branches:
  except:
  - build
  - build-debug
script:
- yarn lint
- yarn build
deploy:
- provider: script
  skip-cleanup: true
  script: DEPLOY_BRANCH=build yarn deploy && yarn cozyPublish
  on:
    branch: master
- provider: script
  skip-cleanup: true
  script: DEPLOY_BRANCH=build yarn deploy && yarn cozyPublish --postpublish mattermost
  on:
    tags: true
before_install:
- openssl aes-256-cbc -K $encrypted_70abefe03a61_key -iv $encrypted_70abefe03a61_iv
  -in github_deploy_key.enc -out /tmp/github_deploy_key -d
- eval "$(ssh-agent -s)"
- chmod 600 /tmp/github_deploy_key
- ssh-add /tmp/github_deploy_key
after_deploy:
- rm /tmp/github_deploy_key
- ssh-add -D
